{{#if addNewListing}}
  <div>
    <form id="form" {{action 'saveListing' on='submit'}}>
      <div class="form-group">
        <label for="title">Title</label>
        {{input class="form-control" value=title id="title" required='required'}}
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select required class="form-control" name="category" onchange={{action "updateValue" value="target.value"}}>
          <option value="" selected disabled>Please choose one:</option>
          {{#each categories as |category|}}
            <option value={{category.id}}>{{category.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        {{input class="form-control" value=location id="location" required='required'}}
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        {{input class="form-control" value=price id="price" type='number' required='required'}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input class="form-control" value=image id="image"}}
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        {{textarea rows=5 class="form-control" value=description id="description"}}
      </div>
      <button class="btn" >Save</button>
    </form>
  </div>
{{else}}
  <button id="new-listing" class="btn" {{action 'listingFormShow'}}>+ New Listing</button>
{{/if}}
